.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--std-purple);
}

.form_signIn {
    display: flex;
    flex-direction: column;
}

.form__fieldsButtons {
    background-color: var(--std-purple);
    padding: 50px 50px;
}

.input__signIn {
    display: flex;
    flex-direction: column;
}

.validation__signIn {
    display: flex;
    flex-direction: row;
}